* {
    font-family: Comfortaa;
    color: white;
}

html {
    font-size: 100%;
    background-color: rgb(241, 246, 244);
}

.title-bar {
    background-color: #9edec3;
}

.close-button {
    color: white;
}

.grid-container-res {
    background-color: #9edec3;
    border-radius: 1rem;
    color: white;
    border-radius: 1rem;
    border-style: dashed;
    border-width: 0.3rem;
    border-color: #d1f0e3;
}

#content-container {
    height: 90vh;
    display: flex;
    justify-content: center;
}

#title-links a {
    font-size: 1.3rem;
    color: white;
}

.off-canvas-wrapper {
    background-color: rgb(241, 246, 244);
    padding: 2rem;
}

#offCanvas {
    background-color: #8cc8af;
    box-shadow: none;
}

ul li a{
    font-size: 1.5rem;
    color: white;
}

#content,
#projects .cell {
    background-color:  #9edec3;
    max-width: 30rem;
    color: white;
    border-radius: 1rem;
    border-style: dashed;
    border-width: 0.3rem;
    border-color: #d1f0e3;
}

.title {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#projects {
    padding: 2rem;
}

#projects .cell {
    padding: 1rem;
}

#name {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    font-weight: bold;
    font-size: 2rem;
}

#small-info {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: 500;
}

p,
a {
    color: white;
}

img {
    max-width: 70%;
    border-radius: 1rem;
    border-style: inset;
    border-width: 0.5rem;
    border-color: #8cc8af;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media i {
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #555;
}